div#messages {
    height: 45%;
    width: 25%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    position:fixed;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);


    background-color: white;
}

#txt-input{
    box-sizing: border-box;
    border: 1px solid #000000;
    padding: 2px;
    width: 25%;
    position:fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#player{
    box-sizing: border-box;
    position:fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.message{

}

.lyric{

}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: darkgray;
    border-radius: 4px;
    transition: 1s;
}

::-webkit-scrollbar-thumb:hover {
    background: lavender;
    transition: 1s;
}


label#txt-input-label      {display:block; background:red; width:500px; margin:auto; text-align:right; vertical-align:middle; white-space:pre-wrap;}

